{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<!-- <div class=" govuk-width-container">
        <div class="navigation-service"> <div class="navigation-service-name">Application hub</div>
            <div class="navigation-service-switch">
                <a href="#" class="govuk-button" role="button">New application</a>
            </div>
        </div>
    </div> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">


        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count  gc-vertical-nav--count--notification">
                        &#10004;
                    </span>
                    <a class="gc-vertical-nav__link " href="/fees/option4/summary">Fee summary</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>
                <p class="govuk-heading-s">Pre-application</p>
                <li class="gc-vertical-nav__section-item">

                    <a class="gc-vertical-nav__link " href="/appstart-v2/">Before you start</a>
                </li>

                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/activity">Activities and fees</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/need">What you'll need</a>
                </li>
                <li class="gc-vertical-nav__section-item   ">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/updates">Getting updates</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li class="gc-vertical-nav__section-item  gc-vertical-nav__section-item--current">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/start">Start application</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Confirm and start your application</h1>

        <p class="govuk-body">Once you start your application, you won't be able to change the activities you have
            selected.</p>

            <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                     If you need to change the activities selected, you'll need to start a new application.
                    </strong>
                  </div>

                  <h2 class="govuk-heading-m">I confirm that:</h2>

                  <ul class="govuk-list govuk-list--bullet">
                      <li>I have read an understood the guidance provided</li>
                      <li>The activities I have selected are correct</li>
                      <li>I understand the fees I am required to pay and when</li>
                  </ul>


        <a href="/appstart-v2/start" class="govuk-button govuk-button--start govuk-!-margin-top-3">Start application</a>

    </div>



</div>



{% endblock %}


{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays notifications which we need a user to action. These include when we
            need additional document from them for an application, or when someone adds them as a contributor.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}