{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<!-- <div class=" govuk-width-container">
        <div class="navigation-service"> <div class="navigation-service-name">Application hub</div>
            <div class="navigation-service-switch">
                <a href="#" class="govuk-button" role="button">New application</a>
            </div>
        </div>
    </div> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">


        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count  gc-vertical-nav--count--notification">
                        &#10004;
                    </span>
                    <a class="gc-vertical-nav__link " href="/fees/option4/summary">Fee summary</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>
                <p class="govuk-heading-s">Pre-application</p>
                <li class="gc-vertical-nav__section-item">

                    <a class="gc-vertical-nav__link " href="/appstart-v2/">Before you start</a>
                </li>

                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/activity">Activities and fees</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/need">What you'll need</a>
                </li>
                <li class="gc-vertical-nav__section-item    gc-vertical-nav__section-item--current">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/updates">Getting updates</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>
                <li class="gc-vertical-nav__section-item ">
                    <a class="gc-vertical-nav__link " href="/appstart-v2/start">Start application</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Getting updates on your application</h1>

        <p class="govuk-body">We've made it easy to get updates on what's happening with your licence application.</p>

        <p class="govuk-body">Once you've submitted an application you can check it's progress by selecting it from your
            submitted applications list in the Application hub.</p>

        <p class="govuk-body">If we require any additional information or evidence from you while processing your
            application, you will get an email containing the details of what we need from you and how to provide it.
        </p>


        <p class="govuk-body">In most cases additional information can be provided through the Apply for a licence
            service, you'll get instructions on how to provide any additional information when we contact you.</p>

<h2 class="govuk-heading-m">Help and support</h2>

        <p class="govuk-body">If you need help using this service, you can contact us on 0121 230 6666 and choose option
            1.</p>

        <p class="govuk-body">There is also information on our website about whats involved in applying for a licence to
            run a gambling business.</p>

            <div class="govuk-inset-text"><p class="govuk-body govuk-!-font-weight-bold">Gambling Commission website</p>
                <p class="govuk-body"><a href="https://www.gamblingcommission.gov.uk" target="_Blank">https://www.gamblingcommission.gov.uk</a> (link opens in a new window)</p></div>

        <a href="/appstart-v2/start" class="govuk-button">Continue</a>

    </div>



</div>



{% endblock %}


{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays notifications which we need a user to action. These include when we
            need additional document from them for an application, or when someone adds them as a contributor.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}