{% extends "layout-idauth.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="list" class="govuk-back-link">Back</a>
{% endblock %}




{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       

        <h1 class="govuk-heading-l">Identity documents that can be used for the checking process</h1>
        <p class="govuk-body">Documents that we have divided into two groups: group 1 and group 2. </p>
        <p class="govuk-body"> At least three
          documents must be provided:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>if the individual can produce a document from group 1, three documents must be seen in total - one
                document from group 1 plus any two from groups 1 or 2.</li>
            <li>if the individual cannot produce a group 1 document, five documents from group 2 must be seen.</li>
        </ul>




        <h2 class="govuk-heading-m">Group 1</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Passport</li>
            <li>EU National Identity card</li>
            <li>Identity Card for Foreign Nationals (ICFN) / Biometric residence permit</li>
            <li>Driving licence (full or provisional) UK/Isle of Man /Channel Islands/EU; photocard</li>
            <li>Birth certificate (UK and Channel Islands) - issued within 12 months of date of birth – full or short
                form acceptable including those issued by UK authorities overseas, such as Embassies, High Commissions
                and HM Forces</li>
            <li>HM forces ID Card (UK)</li>
            <li>Firearms licence (UK)</li>
            <li>Adoption certificate (UK and Channel Islands)</li>
        </ul>

        <h2 class="govuk-heading-m">Group 2</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>Marriage/Civil partnership certificate</li>
            <li>Birth certificate</li>
            <li>Vehicle registration document (document V5 old style and V5C new style only)</li>
            <li>NHS Card/Letter (UK and Channel Islands)</li>
            <li>Connexions card; including those cards carrying the PASS accreditation logo (UK & Channel Islands)</li>
            <li>General Medical Council (GMC) certificate</li>
            <li>Mail order catalogue statement*</li>
            <li>Bank/Building society statement*</li>
            <li>Utility bill* - electricity, gas, water, telephone – including mobile phone contract/bill</li>
            <li>Exam certificate e.g. GCSE, NVQ, O Levels, Degree</li>
            <li>Documentation issued by court services*</li>
            <li>Addressed payslip *</li>
            <li>Credit card statement *</li>
            <li>Store card statement *</li>
            <li>Benefit statement* - e.g. Child Allowance, Pension</li>
            <li>A document from central/ local government/ government agency/ local authority giving entitlement (UK &
                Channel Islands)*: e.g. from the Department for Work and Pensions, the Employment Service , Customs &
                Revenue, Job Centre, Job Centre Plus, Social Security</li>
            <li>Letter from a head teacher*</li>
            <li>Financial statement ** - e.g. pension, endowment, ISA</li>
            <li>P45/P60 statement **(UK & Channel Islands)</li>
            <li>TV licence**</li>
            <li>Mortgage statement**</li>
            <li>Insurance certificate **</li>
            <li>Council tax statement (UK & Channel Islands) **</li>
            <li>Work permit/Visa (UK) **</li>
            <li>DBS and Disclosure Scotland certificate (UK)**</li>
            <li>GMC registration certificates. Please note: information on these certificates become outdated quickly.
                Up to date information about a doctor’s registration status can be found in the List of Registered
                Medical Practitioners on the GMC website</li>
            <li>Immigration status document (ISD)</li>
            <li>Certificate of British nationality (UK)</li>
            <li>Certain documents from UK Visas and Immigration. Do not use more than one of the following documents,
                this list is subject to amendment: Convention Travel Document (CTD) - Blue/ Stateless Person’s Document
                (SPD) - Red/ Certificate of Travel (CIT) - Brown (Formerly Certificate of Identity)/ Application
                Registration Card (ARC)</li>

            <p class="govuk-body">At least one document must confirm the individuals current address and at least one
                document must confirm the candidate’s date of birth.</p>

            <h2 class="govuk-heading-m">More guidance</h2>

            <p class="">For more information on guidance for checking ID, <a
                    href="https://www.gov.uk/government/publications/dbs-identity-checking-guidelines/id-checking-guidelines-for-countersignatory-applications"
                    target="_Blank">read the guidance on the DBS website</a> (link opens in a new window)</p>




    </div>
</div>


{% endblock %}