{% extends "layout-id.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confirm identity documents</h1>
    <p class="govuk-body">This service allows you to record the details of identity documents, that have been confirmed as part of a personal licence or maintenance application.</p>

    <p class="govuk-body">To use this service, you'll need:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>a Gambling Commission eServices account</li>
        <li>the unique application reference</li>        
        <li>the date of birth of the person whose ID is being confirmed</li>
    </ul>

    <a href="/idverification/v1/signin" class="govuk-button">Start</a>


  </div>
</div>


{% endblock %}