{% extends "layout-app-authenticated.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}


        <!-- <div class=" govuk-width-container">
                <div class="navigation-service">
                    <div class="navigation-service-name">Applications</div>
                    <div class="navigation-service-switch">
                        <a href="#" class="govuk-button" role="button">New application</a>
                    </div>
                </div>
        </div> -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">


        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                    <li class="gc-vertical-nav__section-item ">
                            <span class="gc-vertical-nav--count">2</span>
                            <a class="gc-vertical-nav__link " href="/applicationhub/v1/hub-with-apps">In progress</a>
                        </li>
                        <li class="gc-vertical-nav__section-item ">
                            <span class="gc-vertical-nav--count">0</span>
                            <a class="gc-vertical-nav__link " href="/applicationhub/v1/hub-with-apps-submitted">Submitted</a>
                        </li>
                <li class="gc-vertical-nav__section-item ">
                    <span class="gc-vertical-nav--count">1</span>
                    <a class="gc-vertical-nav__link " href="/applicationhub/v1/hub-with-contributor">Contributor</a>
                </li>
            </ul>
        </nav>
      
    </div>


    <div class="govuk-grid-column-two-thirds">

            <div class="gc-notification gc-notification--info">
                    <h2 class="govuk-heading-m">Contribution request</h2>
                    <p class="govuk-body">You've been invited to contribute on an application.</p>
                    <p class="govuk-body"><a href="">View request</a></p>
                </div>

            <h1 class="govuk-heading-l">You don't have any applications</h1>

            <p class="govuk-body">Start a <a href="">new application</a>.</p>

            


    </div>



</div>



{% endblock %}