.gc-section-panel--grey {
  background: #f3f2f1;
  display: block;
  border: 1px solid #b1b4b6;
}

.gc-mobile-padding {
  padding: 15px;
}

@media screen and (min-width:900px) {
  .gc-mobile-padding {
    padding: 0px;
  }
}

.gc-documents-list {
  margin-top: 50px;

}

.gc-documents-list--doc-action {
  padding: 15px 0px;

}

.gc-documents-list--group {
  margin-bottom: 5px;
  border-bottom: 1px solid #bcb0b0;
}

.gc-documents-list--group:last-child {
  margin-bottom: 5px;
  border-bottom: 0px;
}

.gc-documents-list--doc-name {
  font-weight: 700;
}

@media screen and (min-width:900px) {

  .gc-documents-list {
    margin-top: 30px;

  }

  .gc-document-list {
    .govuk-summary-list__row {
      .govuk-summary-list__key {
        width: 50%;
      }

      .govuk-summary-list__value {
        width: 30%;
      }

      .govuk-summary-list__actions {
        width: 20%;
      }
    }
  }

  .gc-documents-list {
    margin-bottom: 40px;


    .gc-documents-list--group {
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: table;
      width: 100%;


      .gc-documents-list--row {

        display: table-row;
        width: 100%;

        .gc-documents-list--doc-name {
          width: 70%;
          display: table-cell;
          font-weight: 700;

        }

        .gc-documents-list--doc-action {
          display: table-cell;
          text-align: right;
          padding: 0px;
        }

      }

      .gc-documents-list--doc-list {
        padding: 10px 0px;
      }

      .gc-documents-list--doc-files {
        width: 100%;
        display: table-cell;
        color: #6f777b;
        font-size: 16px;

        .govuk-list {
          margin-bottom: 0px;
        }

        li {
          font-size: 16px;
        }
      }
    }
  }

}

.gc-hero-grey {
  border-bottom: 1px solid #b1b4b6;
  color: #0b0c0c;
}

.gc-application-nav {
  text-align: right;
}

.gc-application-submenu {
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {
    list-style: none;
    padding: 0px
  }
}

.navigation-service {
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
  position: relative;
  font-size: 0;

  padding: 14px 0 5px 0;
}

.navigation-service-name {
  font-weight: 700;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  padding: 5px 0 11px 0;
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.navigation-service-switch {
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  text-decoration: none;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 0 11px 15px;
  max-width: 50%;  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation-service-switch {
  .govuk-button {
    font-size: 16px;
    padding: 5px 6px 4px 6px;
  }
}

.email {
  background: #f3f2f1;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: 700;
}

.app-related-items {
  border-top-color: #b1b4b6
}




.timeline {
  padding: calc(2 * #{5px});
  margin: 0 auto;

  .action_needed {
    // background-color: #f3f2f1;
    // padding: 5px 20px 5px 15px;
    // box-shadow: 0 4px 0 0 #b1b4b6;
    // border: 1px solid #b1b4b6;


    border: 5px solid #1d70b8;
    padding: 5px 20px 5px 15px;
    box-shadow: none;
    margin-bottom: 30px;
    display: block;
    background: #fff;

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:before {

      content: "";

      display: block;

      width: calc(2 * 8px);

      height: calc(2 * 8px);

      border-radius: 50%;

      background-color:
        #ffffff;

      border: 5px solid #1d70b8;

      position: absolute;

      z-index: 2;

      left: -41px;

      top: 16px;
    }
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;

    &:after {
      content: "";
      position: absolute;
      top: -10px;
      left: -4.5px;
      bottom: 0;
      border-left: 4px solid #b1b4b6;
      height: 102%;
    }

    li {
      margin: 4px 0 20px 10px;
      padding-left: 15px;
      position: relative;
      display: block;
      border-bottom: 1px solid #DEE0E2;

      &:last-child {
        margin-bottom: 0px;
      }

      .timeline-reference {
        display: table;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: -20px;
          width: 20px;
          top: 9px;
          z-index: -1;
        }
      }

      &:before {
        content: "";
        display: block;
        width: calc(2 * #{5px});
        height: calc(2 * #{5px});
        border-radius: 50%;
        background-color: #ffffff;
        border: 4px solid #b1b4b6;
        position: absolute;
        z-index: 2;
        left: -32px;
        top: 7px;
      }


    }
  }
}

.timeline-details {
  margin: 10px 0;

  summary {
    font-size: 0.9em;
  }

  span {
    display: block;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: 4px solid #005EA5;
  }
}

.time {
  color: #6f777b;
  font-size: 16px;
  margin-bottom: 15px;
}

@media screen and (min-width:900px) {}

.gc-vertical-nav--count--notification {
  background: #005EA5;
  color: #ffffff;
}

.gc-page-help {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-top: 8px solid #005ea5
}

.gc-fee-summary-selections {
  padding: 15px 15px 5px 15px;
  background: #f3f2f1;
  border-top: 5px solid #b1b4b6;
  margin-top: 25px;
}




/* ==========================================================================
   COMPONENTS / #DETAILS
   ========================================================================== */

/**
 * Details component.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Style the summary to look like a link...
 * 2. Make the focus outline shrink-wrap the text content of the summary
 * 3. Absolutely position the marker against this element
 * 3. Allow for absolutely positioned marker and align with disclosed text
 * 4. Only underline the text, not the arrow
 * 5. Remove the default details marker so we can style our own consistently and
 *    ensure it displays in Firefox
 */

.gc-details {
  color: #0b0c0c;
  font-size: 19px;
  display: block;
}

.gc-details__summary {
  color: #1d70b8;
  /* [1] */
  cursor: pointer;
  display: inline-block;
  /* [2] */
  padding-left: 0px;
  position: relative;
  /* [3] */

  &:hover {
    color: #003078;
  }

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;

    // @include govuk-shape-arrow($direction: right, $base: 14px);

  }

  &:focus {

    .gc-icon {
      fill: #0b0c0c;
    }
  }

  &:hover,
  &:focus {
    .gc-details__summary-text {
      text-decoration: none;
    }
  }
}

.gc-details[open]>.gc-details__summary:before {
  // @include govuk-shape-arrow($direction: down, $base: 14px);
}

.gc-details__summary-text {
  text-decoration: underline;
  /* [4] */
}

.gc-details__summary::-webkit-details-marker {
  display: none;
  /* [5] */
}

.gc-details__text {
  border-left: 1px solid #6f777b;
  margin-top: 5px;
  padding: 5px;
  padding-left: 5px;

  p {
    margin-bottom: 5px;
    margin-top: 0;
  }



}

/**
 * Expander variation.
 *
 * 1. !important used because the icon is populated
 *    by the JavaScript polyfill
 * 2. Remove the default hover, focus and active
 *    styles for this component.
 * 3. -2px left margin to align the icon to the content.
 * 4. When a group of details is used reduce the
 *    margin between them so they sit together.
 */

.gc-expander {
  background-color: #fff;


  .gc-details__summary {
    background: #dbdad9;
    display: block;
    padding: 15px;
    border-bottom: 5px solid #b1b4b6;

    .gc-details-summary--right{
      text-align: right; float:right; padding-top: 5px;
    }

    &:before {
      display: none !important; // sass-lint:disable-line no-important /* [1] */
    }

    &:hover {
      
      background: #ffdd00;      
      border-bottom: 5px solid #0b0c0c;

    padding: 15px;
      .gc-details__summary-text {
        color: #003078;
      }
    }

    &:focus {
      box-shadow: none;
      background: #ffdd00;
      border-bottom: 5px solid #0b0c0c;
      outline: none;

      .gc-details__summary-text {

        background: url("data:image/svg+xml,%3Csvg class='gc-icon gc-icon__plus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat; // sass-lint:disable-line quotes
      }
    }

  }

  .gc-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='gc-icon gc-icon__plus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat; // sass-lint:disable-line quotes
    background-size: 32px;
    color: #1d70b8;
    cursor: pointer;
    display: inline-block;
    padding: 5px 5px 5px 38px;
    position: relative;
    text-decoration: none;
    font-weight: 700;
  }

  .gc-details__text {
    
    padding: 15px 15px 10px 15px;
    border-left: 0;
    margin-left: 0;
    margin-top: 0;
    background: #f3f2f1;
    border-bottom: 5px solid #b1b4b6;
  }

}

.gc-expander[open] {

  
  .gc-details__summary {
    background: #dbdad9;
border-bottom:0px;
    padding: 15px;
    &:focus {

      .gc-details__summary-text {
        background: url("data:image/svg+xml,%3Csvg class='gc-icon gc-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
        /* [3] */
        // sass-lint:disable-line quotes
      }

      &:hover {
        .gc-details__summary-text {
          text-decoration: none;
        }
      }
    }
  }

  .gc-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='gc-icon gc-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
    /* [3] */
    // sass-lint:disable-line quotes
    background-size: 32px;
    
  }

}

.gc-expander-group {
  /* [4] */

  >.gc-details {
    margin-bottom: 5px;
  }

  margin-bottom: 5px;
}

.gc-details+%gc-heading-l {
  padding-top: 5px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.gc-summary__wrap:after {
  clear: both;
  content: "";
  display: table;
}

.gc-vertical-nav--count--success{background: #00703c;}