{% extends "layout-app-authenticated.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
  <div class="navigation-service">
    <div class="navigation-service-name">Big Casino Limited / OL-123456</div>
    <div class="navigation-service-switch">
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    <nav class="gc-vertical-nav">
      <ul class="gc-vertical-nav__section">
        <li class="gc-vertical-nav__section-item">
          <a class="gc-vertical-nav__link " href="/applicationhub/v2/hub-with-apps-submitted">Application hub</a>
        </li>
        <li class="gc-vertical-nav__section-item">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </li>
        <li class="gc-vertical-nav__section-item">
          <a class="gc-vertical-nav__link " href="/appsubmission/v1/progress-with-docs">Application
            progress</a>
        </li>
        <li class="gc-vertical-nav__section-item  gc-vertical-nav__section-item--current">
          <a class="gc-vertical-nav__link " href="/appsubmission/v1/additionalinfo">Additional
            information</a>
        </li>
        <li class="gc-vertical-nav__section-item ">
          <a class="gc-vertical-nav__link " href="/contributor/v1/index-with-vertical">Contributors</a>
        </li>
        <li class="gc-vertical-nav__section-item ">
          <a class="gc-vertical-nav__link " href="#">Print application</a>
        </li>
        <li class="gc-vertical-nav__section-item">
          <a class="gc-vertical-nav__link " href="#">Withdraw application</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">We need some information from you</h1>

    <p class="govuk-body">The following information is required to continue processing your application, we have stopped
      processing your application, until this information is provided.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        We will reject this application if the information is not provided by
        {{ date | date("add", 30, "days") | date("DD MMMM YYYY") }}.
      </strong>
    </div>


    <div class="gc-documents-list">

      <div class="gc-documents-list--group">
        <div class="gc-documents-list--row">
          <div class="gc-documents-list--doc-name">Send your DBS Basic certificate to us</div>
          <div class="gc-documents-list--doc-action"><a href="/documents/v2/manage">Details</a></div>
        </div>
        <div class="gc-documents-list--doc-list">
          <div class="gc-documents-list--doc-files">See details for what you need to do</div>
        </div>
      </div>



    </div>

    <form>
      <p class="govuk-body">Once you have provided the additional details required, you can submit them so we can
        continue processing your application.</p>
      <a href="/appsubmission/v1/additionalinfo-witherror" class="govuk-button">Submit additional information</a>
    </form>

  </div>

</div>


{% endblock %}