{% extends "layout-app-authenticated.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="navigation-service-name">Big Casino Limited / OL-123456</div>
        <div class="navigation-service-switch">
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section"> <li class="gc-vertical-nav__section-item">
                <a class="gc-vertical-nav__link " href="/applicationhub/v2/hub-with-apps-submitted">Application hub</a>
</li>
<li class="gc-vertical-nav__section-item">
 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</li>

                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/appsubmission/v1/progress">Application
                        progress</a>
                </li>
                <li class="gc-vertical-nav__section-item  gc-vertical-nav__section-item--current">
                    <a class="gc-vertical-nav__link " href="/appsubmission/v1/additionalinfo">Additional
                        information</a>
                </li>
                <li class="gc-vertical-nav__section-item ">
                    <a class="gc-vertical-nav__link " href="/contributor/v1/index-with-vertical">Contributors</a>
                </li>
                <li class="gc-vertical-nav__section-item ">
                    <a class="gc-vertical-nav__link " href="#">Print application</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="#">Withdraw application</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">We don't need any additional information from you at the moment</h1>

        <p class="govuk-body">If we need additional information from you, we'll send you an email with details of what we need.</p>

        <p class="govuk-body">You'll be able to provide additional documents or information here.</p>
        <p class="govuk-body">View your <a href="/appsubmission/v1/progress">application progress</a>.</p>

    </div>

</div>


{% endblock %}