{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "../../partials/_feetop.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/fees/screens/">Guidance</a>
                </li>
                <li class="gc-vertical-nav__section-item  gc-vertical-nav__section-item--current">
                    <span class="gc-vertical-nav--count">16</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/non-remote">Non-remote</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">10</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/ancillary">Ancillary</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">4</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/linked">Linked licence</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">19</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/remote">Remote</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">2</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/personal">Personal licences</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>
                <p class="govuk-heading-s">Tools</p>
                <li class="gc-vertical-nav__section-item">
                    <a class="gc-vertical-nav__link " href="/fees/screens/">GGY</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">


        <a href="/fees/screens/non-remote/" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">Betting intermediary</h1>
        <p class="govuk-body">This licence allows you to bring two or more betting parties together so they can bet
            against each other, but you never have liability for their bets. </p>
        <p class="govuk-body">An example of a non-remote betting
            intermediary is a tic-tac at a racecourse.</p>

            {% include "../../partials/_options.html" %}

    </div>
</div>



{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}