{% extends "layout-ggy.html" %}

{% block pageTitle %}
Calculate Gross Gambling Yield
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Calculate gross gambling yield</h1>
        <p class="govuk-body">Service variations to calculate GGY.</p>

        <ul class="govuk-list">
            <li class="govuk-link"><a href="/ggy-calculator/calculator">Calculator 1</a></li>
            <li class="govuk-link"><a href="/ggy-calculator/calculator2">Calculator 2</a></li>
        </ul>

    </div>
</div>

{% endblock %}