{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service"> <div class="navigation-service-name">Application hub</div>
        <div class="navigation-service-switch">
            <a href="#" class="govuk-button" role="button">New application</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">


        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                    <li class="gc-vertical-nav__section-item">
                            <span class="gc-vertical-nav--count gc-vertical-nav--count--notification">1</span>
                            <a class="gc-vertical-nav__link " href="/applicationhub/v2/notifications">Notifications</a>
                        </li>
                        <li class="gc-vertical-nav__section-item">
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">2</span>
                    <a class="gc-vertical-nav__link " href="/applicationhub/v2/hub-with-apps">In progress</a>
                </li>
                <li class="gc-vertical-nav__section-item   gc-vertical-nav__section-item--current">
                    <span class="gc-vertical-nav--count">2</span>
                    <a class="gc-vertical-nav__link " href="/applicationhub/v2/hub-with-apps-submitted">Submitted</a>
                </li>
                <li class="gc-vertical-nav__section-item ">
                    <span class="gc-vertical-nav--count">0</span>
                    <a class="gc-vertical-nav__link " href="/applicationhub/v2/hub-with-apps-contributor">Contributor</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">
   
       
                <table class="govuk-table">
                    <caption class="govuk-table__caption">
                        <h1 class="govuk-heading-l">Submitted applications</h1>
                    </caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Applicant</th>
                            <th scope="col" class="govuk-table__header">Type</th>
                            <th scope="col" class="govuk-table__header">Date submitted</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Processing status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for i in appdata.submitted %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="{{i.link}}">{{i.applicant}}</a></th>
                            <td class="govuk-table__cell">{{i.type}}</td>
                            <td class="govuk-table__cell">{{i.started | date('DD MMM YYYY')}}</td>
                       
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="{{i.link}}">{{i.pstatus}}</a></td> 
                        </tr>
        
                        {%endfor%}
                    </tbody>
                </table>


    </div>



</div>



{% endblock %}