<div class="gc-interruption-card--secondary govuk-!-margin-bottom-5">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-3">Ongoing annual fee</p>
        <p class="govuk-!-font-size-27" id="ggy-calculation">
            &pound;{{feeCalc.fees.application[2].annual[0].totalApplication | numeral('0,0.00')}}</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-bottom-3">This is the fee you must pay annually to retain your
            licence.</p>
    </div>