<div class="gc-interruption-card govuk-!-margin-bottom-5">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-3">Application fee</p>
        <p class="govuk-!-font-size-27" id="ggy-calculation">
            &pound;{{feeCalc.fees.application[0].totalApplication | numeral('0,0.00')}}</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-bottom-3">You must pay this by credit or debit card when you submit your
            application.</p>
        <a href="" class="govuk-button  govuk-!-margin-bottom-0">Start application</a>
    </div>