{% if data['js-enabled-summary'] === true %}
<div class=" govuk-width-container">
        <details class="gc-details gc-expander">
                <summary class="gc-details__summary">
                        <span class="gc-details-summary--right">{% if feeSession.length > 0 %}{{feeSession.length}}
                                activities selected {% else %}No activities selected{% endif %}</span>
                        <span class="gc-details__summary-text">
                                Fee summary
                        </span>
                </summary>
                <div class="gc-details__text">
                        {% if feeSession.length > 0 %}

                        <dl class="govuk-summary-list">
                                {% for i in feeSession %}

                                <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                                {{i.activity}}<br>
                                                <span class="govuk-body-s">{{i.type}}</span>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                                {{i.category}}
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="{{i.sameURL}}">
                                                        Change<span class="govuk-visually-hidden"> name</span>
                                                </a>
                                        </dd>
                                </div>
                                {% endfor %}
                        </dl>


                        <a href="/fees/screens/clear" class="govuk-button">Start again</a>      <a href="" class="govuk-button">View full breakdown</a> <a href=""
                                class="govuk-button gc-pull-right">Start an application</a>
                        {% else %}
                        <p class="govuk-body">You have not selected any activities</p>
                        {% endif %}
                </div>
        </details>
</div>
{% else%}

<div class=" govuk-width-container">
        <div class="navigation-service">
                <div class="navigation-service-name"> <a class="govuk-link" href="/fees/screens/">Gambling licence fee
                                calculator</a></div>
                <div class="navigation-service-switch">
                        <a href="/fees/screens/summary" class="govuk-button">View summary</a>
                </div>
        </div>
</div>


{% endif %}