{% if data['js-enabled-summary'] === true %}
<div class=" govuk-width-container">
        <details class="gc-details gc-expander">
                <summary class="gc-details__summary">
                                <div class="gc-summary__wrap">
                           <span class="gc-details__summary-text">
                                Licence activity selections
                        </span> 
                      
                         <span class="gc-details-summary--right govuk-!-font-weight-bold">{% if feeSession2.length > 0 %}{{feeSession2.length}}
                                        {{ 'activities' if feeSession2.length > 1 else 'activity' }} selected {% else %}No activities selected{% endif %}</span>
                 </div>
                </summary>
                <div class="gc-details__text">
                        {% if feeSession2.length > 0 %}

                        <dl class="govuk-summary-list">
                                {% for i in feeSession2 %}

                                <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                                {{i.activity}}<br>
                                                <span class="govuk-body-s">{{i.type}}</span>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                                <span class="govuk-!-font-weight-bold">{{i.category}}</span><br>
                                                <span class="govuk-body-s">GGY band:  &pound;{{i.min  | numeral("0,0")}} to &pound;{{i.max | numeral("0,0") }}</span>
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="{{i.sameURL}}">
                                                        Change<span class="govuk-visually-hidden"> name</span>
                                                </a>
                                        </dd>
                                </div>
                                {% endfor %}
                        </dl>

<div class="govuk-form-group govuk-!-margin-bottom-0">
                        <a href="/fees/screens/clear" class="govuk-button govuk-button--warning govuk-!-margin-bottom-2">Start again</a>       <a href="/fees/option4/summary"
                                class="govuk-button gc-pull-right  govuk-!-margin-bottom-2">Calculate fees</a></div>
                        {% else %}
                        <p class="govuk-body">You have not selected any activities</p>
                        {% endif %}
                </div>
        </details>
</div>
{% else%}

<div class=" govuk-width-container">
        <div class="navigation-service">
                <div class="navigation-service-name"> <a class="govuk-link" href="/fees/screens/">Gambling licence fee
                                calculator</a></div>
                <div class="navigation-service-switch">
                        <a href="/fees/screens/summary" class="govuk-button">View summary</a>
                </div>
        </div>
</div>


{% endif %}