<div class="gc-interruption-card--secondary govuk-!-margin-bottom-5">
        <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-3">First annual fee</p>
        <p class="govuk-!-font-size-27" id="ggy-calculation">
            &pound;{{feeCalc.fees.application[1].first[0].totalApplication | numeral('0,0.00')}}</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-bottom-3">You must pay this within 30 days of being issued your
            licence.</p>
    </div>