<div class="gc-fee-summary-selections" id="calculation-summary">
        <h1 class="govuk-heading-m">Selected activities</h1>

        {% if feeSession.summaryItems.length > 0 %}

        <dl class="govuk-summary-list">
                {% for i in feeSession.summaryItems %}



                <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                                {{i.type}}<br>
                                {{i.activity}}
                        </dt>
                        <dd class="govuk-summary-list__value">
                                {{i.category}}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/fees/screens/remove/{{i.id}}">
                                        Change<span class="govuk-visually-hidden"> name</span>
                                </a>
                        </dd>
                </div>
                {% endfor %}
        </dl>

        <p class="govuk-body"><a href="/fees/clear">Start again</a></p>
        {% else %}
        <p class="govuk-body">You have not selected any activities</p>
        {% endif %}





</div>