{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Gambling licence application</h1>
        <p class="govuk-body">You are applying for a licence to provide gambling activities to players in Great Britain.
        </p>
        <p class="govuk-body">You don't have to complete this application in one go. You can save and continue your
            application at any time.
        </p>

        <p class="govuk-body">Continue your application by selecting it from your in progress applications from the
            Application hub.
        </p>

        <p class="govuk-body">We'll check a few things before you start your application, just to make sure you're
            prepared.</p>

        <a href="/appstart/step1" class="govuk-button">Continue</a>



    </div>



</div>



{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}