{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}
<a href="/appstart/step2" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Application process</h1>

    <p class="govuk-body">[tk]</p>

    <h2 class="govuk-heading-m">After you've submitted your application</h2>

    <p class="govuk-body">It can take between [tk] and [tk] weeks to process a licence application.</p>
    <p class="govuk-body">This varies based on the type of application being made and on the information provided in the application. </p>

    
    <h2 class="govuk-heading-m">Track your application online</h2>
    <p class="govuk-body">You will be able to track the progress of your application online by selecting it from the submitted applications list in the Application hub.</p>

    <p class="govuk-body">If we need any additional information from you while processing your application, we will send you an email with details of what we need and how to provide it. </p>
  

    <a href="/appstart/step4" class="govuk-button">Continue</a> 
  </div>



</div>



{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">What this page is for</h3>
    <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
      Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
    <h3 class="govuk-heading-m">Known issues</h3>
    <p class="govuk-body">There are no known issues for this page.</p>
  </div>
</div>
{% endblock %}