{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% include "../partials/_feetop.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

        <nav class="gc-vertical-nav">
            <ul class="gc-vertical-nav__section">
                <li class="gc-vertical-nav__section-item gc-vertical-nav__section-item--current">
                    <a class="gc-vertical-nav__link " href="/fees/screens/">Guidance</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">16</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/non-remote">Non-remote</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">10</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/ancillary">Ancillary</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">4</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/linked">Linked licence</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">19</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/remote">Remote</a>
                </li>
                <li class="gc-vertical-nav__section-item">
                    <span class="gc-vertical-nav--count">2</span>
                    <a class="gc-vertical-nav__link " href="/fees/screens/personal">Personal licences</a>
                </li>
                {% if feeSession2.length > 0 %}
                <li class="gc-vertical-nav__section-item">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </li>
                <li class="gc-vertical-nav__section-item ">
                        <span class="gc-vertical-nav--count">{{feeSession2.length}}</span>
                    <a class="gc-vertical-nav__link" href="/fees/option4/summary">Summary</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>


    <div class="govuk-grid-column-three-quarters">



        <h1 class="govuk-heading-l">Find out how much a gambling licence will cost</h1>
        <p class="govuk-body">Use this calculator to find out how much a gambling licence will cost.</p>

        <p class="govuk-body">If you are unsure what license activites you may need or what they allow you to do, you can use the <a href="">What licence do I need?</a> service.</p>
        

        <p class="govuk-body">If you know what licence and activities you need, you can continue with this calculator.</p>

        {% if feeSession2.length > 0 %}

        <h2 class="govuk-heading-m">You've got saved selections</h2>
       <p class="govuk-body">You can view your summary or clear your selections and start a new calculation.</p>
         <a href="/fees/option4/summary"
        class="govuk-button">View summary</a>
        <a href="/fees/screens/clear" class="govuk-button govuk-button--warning">Start again</a>      
       </div>

        {% else %}
        <h2 class="govuk-heading-m">New licence fee calculation</h2>
           <a href="/fees/screens/non-remote" class="govuk-button">Start a new calculation</a>
        {%endif%}
     

    </div>



</div>



{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}