{% extends "layout-app-authenticated-v2.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
<div class=" govuk-width-container">
    <div class="navigation-service">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Personal X licence</p>
                <p class="govuk-body-s  govuk-!-margin-bottom-2">Reference: PXL-123456</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s  govuk-!-margin-bottom-2 gc-text-right"><a href="#">Application tasks</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What is your full name?</h1>
        <p class="govuk-body">Your name appears on your licence and also the public register of licence holders.</p>
        <form method="POST">
            <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                    First name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="middle-name">
                    Middle name(s) (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="middle-name" name="middle-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    Last name
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="last-name" type="text">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>
        </form>
    </div>
</div>

{% endblock %}

{% block pageHelp %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">What this page is for</h3>
        <p class="govuk-body">This page displays applications that have been started but not yet paid and submitted.
            Clicking on the applicant name will take the user to the outstanding tasks for the application.</p>
        <h3 class="govuk-heading-m">Known issues</h3>
        <p class="govuk-body">There are no known issues for this page.</p>
    </div>
</div>
{% endblock %}