{% extends "layout-app-anon.html" %}

{% block pageTitle %}Enter the code to confirm your email address
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/app/v1/security/create-account" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Enter the code to confirm your email address</h1>

        <p class="govuk-body">We've sent a code to <span class="govuk-!-font-weight-bold">someone@example.com</span></p>

        <div class="govuk-inset-text">
            If you use a browser to access your email, you may need to open a new window or tab to see the code.
        </div>


        <form method="POST">


            <div class="govuk-form-group">
                <label class="govuk-label" for="code">
                    Confirmation code
                </label>
                <span class="govuk-hint">For example: NDYJNS</span>
                <input class="govuk-input govuk-!-width-one-third" id="code" name="code" type="text">
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I've not received a code 
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">It might take a few minutes for the email to arrive. The subject of the email
                        is 'Confirm your email address - Apply for a licence'.</p>

                    <p class="govuk-body">If you still haven't got the email, check your spam or junk folder. If it's
                        not there you can <a href="/app/v1/security/create-account">request a new code</a> or <a
                            href="/app/v1/security/create-account">provide another email address</a>.</p>
                </div>
            </details>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>



    </div>
</div>


{% endblock %}