{% extends "layout-app-anon.html" %}

{% block pageTitle %}Set a new password
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Set a new password</h1>


        <form method="POST">
              
                <p class="govuk-body">We suggest you create a strong password. For example:</p>
    
                <ul class="govuk-list govuk-list--bullet">
                    <li>Use a password manager</li>
                    <li>Use a minimum of 8 characters</li>
                    <li>Use three or more words with spaces</li>
                </ul>
    
                <div class="govuk-form-group">
                    <label class="govuk-label" for="password">
                        Password
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
                </div>
    
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Update password and continue
                </button>
        </form>

      

    </div>
</div>


{% endblock %}