{% extends "layout-fees.html" %}

{% block pageTitle %}
Calculate Gross Gambling Yield
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Calculate gambling licence fees</h1>
            <p class="govuk-body">Service variations to calculate fees in relation to a gambling licence.</p>
    
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/fees/option1/summary">Option 1 - summary page</a></li>
                <li class="govuk-link"><a href="/fees/option2/summary">Option 2 - summary page</a></li>
                <li class="govuk-link"><a href="/fees/option3/summary">Option 3 - summary page</a></li>
                <li class="govuk-link"><a href="/fees/option4/summary">Option 4 - summary page</a></li>
            </ul>
    
        </div>
    </div>


{% endblock %}