{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prototypes</h1>
    <p class="govuk-body">Services, tools and designs to support the Apply for a licence project.</p>

    <h2 class="govuk-heading-m">Application hubs</h2>
    <ul class="govuk-list">
      
        <li class="govuk-link"><a href="/applicationhub/v1/notifications">Application notifications V1</a></li>
      <li class="govuk-link"><a href="/applicationhub/v1/hub-no-apps">Application hub (no apps) V1</a></li>
      <li class="govuk-link"><a href="/applicationhub/v1/hub-no-apps-with-contributor">Application hub (no apps) - with contributor
        request) V1</a></li>
      <li class="govuk-link"><a href="/applicationhub/v1/hub-with-apps">Application hub (with apps) V1</a></li>
      <li class="govuk-link"><a href="/applicationhub/v2/hub-with-apps">Application hub (with apps) V2</a></li>
      <li class="govuk-link"><a href="/applicationhub/v3/hub-with-apps">Application hub (with apps) V3</a></li>
      <li class="govuk-link"><a href="/applicationhub/v1/hub-with-contributor">Application hub (with contributor
          request) V1</a></li>
          <li class="govuk-link"><a href="/applicationhub/v2/hub-with-contributor">Application hub (with contributor
            request) V2</a></li>
            <li class="govuk-link"><a href="/applicationhub/v3/hub-with-contributor">Application hub (with contributor
              request) V3</a></li>
    </ul>

    <h2 class="govuk-heading-m">Documents</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/documents/v2">Document uploads</a></li>
    </ul>

    <h2 class="govuk-heading-m">Contributors</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/contributor/v1">Contributor process (RH Aside) V1</a></li>
      <li class="govuk-link"><a href="/contributor/v1/index-with-vertical">Contributor process (with vertical) V1</a></li>
    </ul>

    <h2 class="govuk-heading-m">App Submission, progress and post-application</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/appsubmission/v1">App Submission V1</a></li>
      <li class="govuk-link"><a href="/appsubmission/v1/progress">App progress V1</a></li>
      <li class="govuk-link"><a href="/appsubmission/v1/progress-with-docs">App progress (Docs needed) V1</a></li>
    </ul>

    <h2 class="govuk-heading-m">Internal support</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/internalsupport/v1">Internal support</a></li>
    </ul>


    <h2 class="govuk-heading-m">GGY Calculator</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/ggy-calculator/calculator">Calculator</a></li>
      <li class="govuk-link"><a href="/ggy-calculator/calculator2">Calculator 2</a></li>
    </ul>

    <h2 class="govuk-heading-m">Fee calculator</h2>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/fees/option1/summary">Results page 1</a></li>
      <li class="govuk-link"><a href="/fees/option2/summary">Results page 2</a></li>
      <li class="govuk-link"><a href="/fees/option3/summary">Results page 3</a></li>
      <li class="govuk-link"><a href="/fees/option4/summary">Results page 4</a></li>
    </ul>
  </div>
</div>


{% endblock %}