{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prototypes</h1>
    <p class="govuk-body">Services, tools and designs to support the Apply for a licence project.</p>
    <ul class="govuk-list">
      <li class="govuk-link"><a href="/licenceapplication/v1/security/signin">Apply for a gambling licence</a></li>
      <li class="govuk-link"><a href="/fees/">Calculate gambling licence fees</a></li>
      <li class="govuk-link"><a href="/ggy-calculator/">Calculate gross gambling yield</a></li>
      <li class="govuk-link"><a href="/idverification/v1/start">Confirm ID for a gambling licence application</a></li>
    </ul>

  </div>
</div>


{% endblock %}