{% extends "layout.html" %}

{% block pageTitle %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prototypes</h1>
    <p class="govuk-body">Services, tools and designs to support the Apply for a licence project.</p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Application hubs
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-1">

          <table class="govuk-table">
           
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Feature</th>
                  <th scope="col" class="govuk-table__header">Detail</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/applicationhub/v2/hub-with-apps">Hub with notification</a></th>
                  <td class="govuk-table__cell">Hub with apps and notification</td>
                </tr>
               
              </tbody>
            </table>


          <ul class="govuk-list">



            <li class="govuk-link"><a href="/applicationhub/v1/notifications">Application notifications V1</a></li>
            <li class="govuk-link"><a href="/applicationhub/v1/hub-no-apps">Application hub (no apps) V1</a></li>
            <li class="govuk-link"><a href="/applicationhub/v1/hub-no-apps-with-contributor">Application hub (no apps) -
                with contributor
                request) V1</a></li>
            <li class="govuk-link"><a href="/applicationhub/v1/hub-with-apps">Application hub (with apps) V1</a></li>
            <li class="govuk-link"><a href="/applicationhub/v2/hub-with-apps">Application hub (with apps) V2</a></li>
            <li class="govuk-link"><a href="/applicationhub/v3/hub-with-apps">Application hub (with apps) V3</a></li>
            <li class="govuk-link"><a href="/applicationhub/v1/hub-with-contributor">Application hub (with contributor
                request) V1</a></li>
            <li class="govuk-link"><a href="/applicationhub/v2/hub-with-contributor">Application hub (with contributor
                request) V2</a></li>
            <li class="govuk-link"><a href="/applicationhub/v3/hub-with-contributor">Application hub (with contributor
                request) V3</a></li>
          </ul>

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Document uploads
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list">
            <li class="govuk-link"><a href="/documents/v2">Document uploads</a></li>
          </ul>

        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Contributor process
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list">
            <li class="govuk-link"><a href="/contributor/v1">Contributor process (RH Aside) V1</a></li>
            <li class="govuk-link"><a href="/contributor/v1/index-with-vertical">Contributor process (with vertical)
                V1</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Post submission and progress
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li class="govuk-link"><a href="/appsubmission/v1">App Submission V1</a></li>
            <li class="govuk-link"><a href="/appsubmission/v1/progress">App progress V1</a></li>
            <li class="govuk-link"><a href="/appsubmission/v1/progress-with-docs">App progress (Docs needed) V1</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Internal support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-5">
          <ul class="govuk-list">
            <li class="govuk-link"><a href="/internalsupport/v1">Internal support</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              GGY Calculator
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-5">
          <ul class="govuk-list">
            <li class="govuk-link"><a href="/ggy-calculator/calculator">Calculator</a></li>
            <li class="govuk-link"><a href="/ggy-calculator/calculator2">Calculator 2</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Fees
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content"
          aria-labelledby="accordion-default-heading-6">
          <ul class="govuk-list">
              <li class="govuk-link"><a href="/fees/screens/">Selection screens</a></li>
            <li class="govuk-link"><a href="/fees/option1/summary">Results page 1</a></li>
            <li class="govuk-link"><a href="/fees/option2/summary">Results page 2</a></li>
            <li class="govuk-link"><a href="/fees/option3/summary">Results page 3</a></li>
            <li class="govuk-link"><a href="/fees/option4/summary">Results page 4</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                What licence do I need?
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-7" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-7">
            <ul class="govuk-list">
                <li class="govuk-link"><a href="/what-licence/">Start page</a></li>
            </ul>
          </div>
        </div>
    </div>


  </div>
</div>


{% endblock %}